body{
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
}

:root {
  --unnamed-color-707070: #707070;
  --unnamed-color-fef3e4: #FEF3E4;
  --unnamed-color-ff9f00: #FF9F00;
  --yellight: #F4EEE4;
  --unnamed-color-fffbf6: #FFFBF6;
  --unnamed-color-e8e8e8: #E8E8E8;
  --unnamed-color-b9977f: #B9977F;
  --brown: #452B01;
  }

  .navbar-brand{
    font-family: 'Libre Baskerville', serif;
  }

  .btn{
    border-radius: 60px;
    width: 7.5%;
    height: 35px;
  }
  .btn-brown{
    background: var(--brown);
    color: var(--yellight);
  }

  .btn-yellight{
    border: 1px solid var(--brown);
    color: var(--brown);
  }