body {
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
}

/* Vivek */
:root {
  --unnamed-color-707070: #707070;
  --unnamed-color-fef3e4: #FEF3E4;
  --unnamed-color-ff9f00: #FF9F00;
  --yellight: #F4EEE4;
  --lgbag: #FFFBF6;
  --unnamed-color-e8e8e8: #E8E8E8;
  --searchcol: #B9977F;
  --brown: #452B01;
  --lighttext: #686868;
  --darktextlight: #A2A2A2;
  --lightbackground: #F0F0F0;
}


/* .Spacer{
  height: 10vh;
} */

.navbar-brand {
  font-family: 'Libre Baskerville', serif;
}

.btn {
  border-radius: 60px;
  width: 9%;
  height: 33px;
  font-size: 15px;
}

.btn-brown {
  background: var(--brown);
  color: var(--yellight);
}

.btn-brown:hover{
  background: #fff;
  color: var(--brown);
  border: 1px solid var(--brown);
}
.btn-yellight {
  border: 1px solid var(--brown);
  color: var(--brown);
}
.btn-yellight:hover{
  background: #eaeaea;
  border: 1px solid var(--brown);
}

.btn-lightbg {
  background: var(--yellight);
  color: #000000;
}

.btn-lightbg:hover{
  background: #eaeaea5f;
  border: 1px solid var(--brown);
}

.head-land {
  color: var(--brown);
  text-shadow: 5px 4px 9px #00000029;
  font-family: 'Libre Baskerville', serif;
}

.rightarea {
  z-index: -2;
}

.rightarea img {
  width: 71%;
  z-index: -2;
  filter: drop-shadow(0px 0px 10px #00000044)
}

.leftarea {
  width: 53%;
  margin: 0 auto;
}

.leftarea .search {
  border: 2px solid var(--searchcol);
  padding: 3px;
  justify-content: space-between;

}


.searchsuggest .badges span{
  transition: 0.2s;
}

.searchsuggest .badges span:hover{
  scale: 1.1;
  color: #000000;
  border: 1px solid #000000;
}
.search input {
  border-right: 1px solid var(--searchcol);
  border-radius: 50px;
  width: 89%;
  border:none;
}

.search input:active,
.search input:focus {
  border: none !important;
  box-shadow: 0 0 0 0.05rem rgba(69, 43, 1, 0);
}

.border-none {
  border: none !important;
}

.searchlog {
  width: 25px;
  height: 25px;
  margin-right: 20px;
}

/*.leftarea h1 {
   font-size: 5.5em; 
}*/

.showtabs .card {
  width: 45%;
}

.showtabs .card img {
  width: 85%;
}

.custpopbadge {
  font-size: 15px;
  color: #6F6F6F;
  border: 1px solid #6F6F6F;
  padding: 10px 26px 6px;
  font-weight: 400;
  margin: 0 10px;
}


.infotab-img {
  width: 90%;
}

.infotab .card {
  width: 42%;
  border-radius: 20px;
  box-shadow: 0px 0px 25px #00000021;
  border: 1px solid #e9e9e9;
}

.infotab .card .card-title {
  color: #473400;
}

.infotab .card .card-text {
  color: #656565;
}

.infotab .card img {
  width: 33%;
}

.lgbag {
  background: var(--lgbag);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.carol-serv {
  max-width: 92%;
  bottom: 4em;
  margin-top: 4em;
}


.carousel-control-next,
.carousel-control-prev {
  width: 7%;
  bottom: 8em;
}

.contain-card {
  margin: 0 40px;
  transition: 0.2s;
}

.contain-card .card {
  box-shadow: 0px 3px 25px #A2A2A266;
  border: 1px solid #ADADAD;
  width: 91%;
  height: 41vh;
}

.contain-card:hover{
  filter: grayscale(1);
}

.lighttext {
  color: var(--lighttext);
}

.contain-card .card-img-bottom {
  width: 100%;
  position: relative;
  bottom: 8px;
  box-shadow: 0px 0px 28px #00000061;
  border-radius: 22px;
}

.skiptranslate {
  display: none !important;
}

.carol-provid .card {
  margin: 0 30px;
}

.carol-provid {
  margin-top: 6em;
}

#providerslider .carousel-control-next,
.carousel-control-prev,
.carousel-indicators {
  margin-top: 3em;
}


.verifico {
  width: 13px;
  height: 13px;
}

.sm-13 {
  font-size: 13px;
}

.sm-9 {
  font-size: 9px;
}

.bg-dark {
  background: #000000 !important;
}

.footerul li {
  color: #949494;
}

.darktextlight {
  color: var(--darktextlight);
}


.stateimg {
  box-shadow: 7px 11px 16px #00000059;
}

.x-3 {
  top: 3em;
}

.lightbackground {
  background: var(--lightbackground);
}

.jumbocont {
  height: 60vh;
}

.acordhead {
  box-shadow: 0px 9px 29px #00000061;
  border: 1px solid #707070;
}

.acordhead .accordion-button {
  box-shadow: -1px 4px 16px 0 #d4d4d4;
}

.loginonpage input {
  border-radius: 50px;
  border: 2px solid var(--searchcol);
  width: 75%;
  background-color: transparent;
}

.loginonpage input:focus {
  border: none;
  box-shadow: 0 0 0 2px rgb(69, 43, 1);
  transition: all 0.5s ease-in-out;
}

.loginbg {
  position: relative;
  /* filter: brightness(1) !important; */
}

.loginbg::before {
  content: "";
  background-image: url('../src/page 1 design images/login back.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  /* Adjust the opacity value as needed */
  z-index: -1;
  /* Ensure the overlay is behind the content */
}

.loginrbg {
  position: relative;
}

.loginrbg::before {
  content: "";
  background-image: url('../src/page 1 design images/haplog.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: brightness(0.5);
  opacity: 1;
  /* Adjust the opacity value as needed */
  z-index: -1;
  /* Ensure the overlay is behind the content */
}

.loginservice {
  background: #FFFBF6;
border: 1px solid #E2E2E2;
border-radius: 42px;
scale: 0.9;
}

.loginservice .loginrbg {
  position: relative;
}

.loginservice .loginrbg::before {
  content: "";
  background-image: url('./service\ page\ images/hammer-img.jpg') !important;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: 3;
  filter: brightness(0.8);
  border-radius: 50px;
  box-shadow: 0px 0px 25px #0000003d;

}

.loginservice input {
  width: 100%;
}

.imgcontainer {
  position: relative;
  background: #1d1200bd;
}

.imgcontainer::before {
  content: "";
  background-image: url('../src/page 1 design images/delbgcut.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* filter: brightness(0.5); */
  opacity: 1;
  /* Adjust the opacity value as needed */
  z-index: -1;
  /* Ensure the overlay is behind the content */
}

/* .navbar{
  background: transparent !important;
  backdrop-filter: blur(10px);
} */

.userfeed {
  background: var(--lgbag);
}

.userfeed .card {
  height: 25vh;
}

.herosection {
  margin-top: 5em;
}

.tempinpu {
  display: flex;
  flex-wrap: wrap;
}

.tempinpu input {
  border-radius: 50px;
  border: 2px solid var(--searchcol);
  width: 100%;
  background-color: transparent;
}

.tempinpu .mb-3 {
  width: 40%;
  margin-right: 35px;
}

#goog-gt-tt {
  display: none;
}


.bg {
  height: 65vh;
  width: 100%;
  z-index: -3;
  position: absolute;
  background: #261800 !important;
}

.clienthero .leftarea {
  width: 90%;
  padding-top: 2.5em;
}

.clienthero .fs-3 {
  color: #B5B5B5;
  font-weight: 200;
}

.clienthero .rightarea {
  z-index: 3 !important;
  padding-top: 1em;
}

.clienthero .rightarea img {
  width: 75%;
  filter: drop-shadow(0px 0px 20px #000000c6);
}

.clienthero .head-land {
  color: #FFFFFF;
  text-shadow: 6px 4px 22px #00000045;
  font-family: inherit;
  font-weight: 400;
}

.clienthero .w-70 {
  width: 70%;
  border: 3px solid #848484;
  background: #fff;
  box-shadow: 0px 0px 25px #FFFFFF4A;
}

.clienthero .lighttext,
.badges span {
  color: #B5B5B5;
}


.carol-map {}

.carol-map .carousel-control-next, .carol-map .carousel-control-prev {

  width: 15%;
  bottom: 0;
}

.carol-map .carousel-control-prev,
.carol-map .carousel-indicators {
  margin-top: 0;
}

.carol-map .card {
  scale: 0.75;
}

/* Rishav */
.Works-container {
  /* margin-top: 6rem !important; */
  box-shadow: inset 0px 0px 19px #0000001F;
}


.Create-Account h3 {
  font-size: 1.4rem;
  color: #473400;
  text-align: center;
}

.Create-Account h6 {
  font-size: 0.9rem;
  color: #656565;
  text-align: center;
  line-height: 22px;

}

.hero-Service-container {
  height: 92vh;
  /* margin-bottom: 6rem; */
}


.hero-Service {
  /* position: relative; */
  text-align: center;
  background: #452B017D;
}

.hero-Service video {
  position: relative;
  z-index: -2;
}

.hero-content .btn-lightbg {
  height: 40px;
  width: 22%;
  background: #ffffff4e !important;
  backdrop-filter: brightness(4) blur(30px) !important;
  -webkit-backdrop-filter: brightness(4) blur(30px);
  font-size: 16px;
}

.hero-content {
  position: absolute;
  top: 4.5%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bpw-header-subtitle {
  display: none !important;
}

.hero-content h1 {
  /* font-size: 5.2em; */
  font-weight: 400;
  line-height: 1.3em;
  color: #FFFFFF;
  text-shadow: 6px 4px 22px #00000045;
}



.hero-content p {
  color: #B5B5B5;
  text-shadow: 1px 3px 6px #00000029;
  font-weight: 300;
}


/*.About-container {
   background-color: #FFFBF6; 
}*/

/*.servfeedimg {
   width: 25%; 
}*/



.carousel-indicators [data-bs-target] {
  background-color: #473400;
}



.vertical-line {
  border-left: 2px solid #cbcbcb;
  height: 11rem;
}

.App img {
  width: 20%;
}

.App h5 {
  margin-bottom: 0;
}


.Grow button {
  width: 30%;
  height: 34px;

}

.Join-content {
  padding: 0;
}

.Advocate {
  margin-top: 6rem;
}

.profile-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}

.Verify {
  transition: all 0.4s ease-in-out;
}

.Verify:hover {
  transform: scale(1.1);
}

.Advocate-details img {
  width: 20px;
  height: 20px;
}

.Advocate-button button {
  width: 100%;
  height: 34px;
  color: #473400;
  border-color: #473400;
}

.Advocate-button button:hover {
  background: #473400;
  color: #fff;
}

.Profile-img {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
}

.Service_Login,
.Badges {
  margin-top: 6rem;
}

.LeaderBoard_List .list-group-item {
  border-width: 0;
}

.Rewards-img,
.TopBadge {
  width: 1.5rem;
  height: 1.5rem;
}

.LeaderBoard_List .list-group-item .Advocate-img {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
}

.LeaderBoard_List .list-group-item h6 {
  margin-bottom: 0;
}

.LeaderBoard_List .list-group-item h6 {
  font-size: 18px;
}

.LeaderBoard_List .list-group-item {
  transition: all 0.4s ease-in-out;
}

.LeaderBoard_List .list-group-item:hover {
  border: 1px solid #473400;
  border-radius: 8px;
  transform: scale(1.1);
}

.DaysLeft,
.Resets {
  font-size: 12.5px;
}

.Top-Advocate {
  background-color: #fff6e4;
}

.Advice {
  margin-top: 6rem;
}

.Badges img[alt="Badges"] {
  width: 2rem;
  height: 2rem;
}

/* Vibhuti */

.faq {
  font: normal normal 300 83px/109px Josefin Sans;
  letter-spacing: 0px;
  color: #343a40;
  opacity: 1;
}

.accordion {
  --bs-accordion-btn-bg: #452b01;
  --bs-accordion-active-bg: #452b01;
  --bs-accordion-active-color: white;
  --bs-accordion-btn-color: white;
  --bs-accordion-color: #000000;
  --bs-accordion-active-border: 1px solid #707070;
  --bs-accordion-btn-focus-box-shadow: none;
  --bs-accordion-btn-box-shadow: 0px 9px 29px #00000061;
}

.accordian-body {
  text-align: left;
  font: normal normal normal 25px/41px Josefin Sans;
  letter-spacing: 0px;
  opacity: 1;
}

.accordion-button {
  background: var(--unnamed-color-452b01) 0% 0% no-repeat padding-box;

  background: #452b01 0% 0% no-repeat padding-box;
  box-shadow: 0px 9px 29px #00000061;
  border: 1px solid #707070;
  opacity: 1;
}

.doctempimg {
  box-shadow: 0px 0px 17px #00000026;
  border: 1px solid #BDBDBD;

}

/* effect hover */
.stateimg,
.doctempimg {
  transition: 0.2s ease-in-out;
}

.stateimg:hover,
.doctempimg:hover {
  scale: 1.1;
}

#serviceinfo .carol-serv {
  bottom: 0;
}


#serviceinfo .carousel-control-next,
#serviceinfo .carousel-control-prev {
  bottom: 4em;
  margin-top: 0;
}

#serviceinfo h5 {
  color: var(--unnamed-color-452b01);
  text-align: center;
  font: normal normal normal Josefin Sans;
  font-size: small;
  letter-spacing: 0px;
  color: #452b01;
  opacity: 1;


}




/* Madhav */
/************************CSS BY MADHAV -Service Page****************************/
/***************** Service Page-Community.js ***************************/
.q {
  width: 100%;
}

.comm-comp1 {
  margin-left: 2rem;
  max-width: 100%;
}

.leads-comp1 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 3rem;
}

.comm-heading {
  font-size: 3rem;
  color: #343a34;
  font-weight: 300;
  margin: 0;
}

.comm-subheading {
  color: #646464;
}

.comm-comp,
.comm-comp2 {
  margin-top: 3rem;
  background-color: var(--unnamed-color-e8e8e8);
  display: flex;
  align-items: center;
  margin-bottom: 5rem;
  height: 65vh;
  overflow: hidden;
}

.comm-image {
  width: 50%;
  object-fit: cover;
  height: 80vh;
}


.comm-content {
  padding: 4rem;
  color: #646464;
  font-size: 1.8rem;
  line-height: 3rem;
  margin: 0;
  text-align: center;
  width: 50%;
  font-weight: 300;
}

/************************Service-Page Tools.js**************************/
.tool-heading {
  text-align: center;
  color: #343a30;
  font-weight: 300;
  margin-bottom: 4rem;
}

.tool-box {
  max-width: 100%;
}

.tool-box1 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 2rem;

}

.tool-list {
  list-style: none;
  justify-content: center;
}

.tool-image {
  height: 27rem;
  border-radius: 1.5rem;
}

.f {
  display: flex;
}

.f img {
  margin-top: -0.8rem;
}

.tools-content {
  color: #646464;
  font-size: 1.2rem;
  font-weight: 300;
  max-width: 70%;
}

.hr-tag {
  width: 64%;
}

/**********************Service-Page -LoginForm.js***************************************/

.tools-features {
  color: #343a30;
}

.form-comp {
  color: #212529;
  background-color: #FFFBF6;
  border: 1px solid #E2E2E2;
  width: 100%;
}

.signup-heading {
  color: #452B01;
}

.form-elements {
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.input-tag {
  padding: 0.75rem;
  border-radius: 0.5rem;
  border: 2px solid #B9977F;
}

.input-tag:focus {
  outline: none;
}

.submit-btn {
  border-radius: 3rem;
  padding: 7px;
  background-color: var(--brown);
  color: var(--yellight);
  margin-top: 2rem;
  font-size: 1rem;
  width: 11%;
  border-style: none;
}

.select-tag {
  border: 2px solid #B9977F;
  height: 45px;
}

.select-tag:focus,
.select-tag:active {
  outline: none;
}

.submit-btn:focus {
  border-style: none;
  outline: none;
}

/***********************Mobile Responsive **************************/
@media(max-width:1024px) {
  .comm-content {
    font-size: 1.3rem;
    line-height: 2rem;
  }

  .tool-box1 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .form-comp {
    margin-left: 0;
    width: 100%;
  }

  .tool-image {
    margin-bottom: 4rem;
    width: 40%;
  }

}

@media(max-width:768px) {
  .comm-comp2 {
    width: 100%;
  }

  .comm-content {
    font-size: 1rem;
    line-height: 2rem;
  }

  .submit-btn {
    width: 50%;
  }

}

@media(max-width:680px) {
  .comm-comp {
    display: flex;
    flex-direction: column;
  }

  .comm-comp2 {
    display: flex;
    flex-direction: column-reverse;
  }

  .comm-image {
    width: 100%;
  }

  .comm-content {
    width: 100%;
    padding: 2rem;
  }

  .tool-image {
    margin-bottom: 4rem;
    width: 60%;
  }


  .submit-btn {
    width: 100%;
  }
}